.slider {
  &__item {
    align-items: center;
    background: $black;
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  &__subtitle {
    align-items: center;
    color: $white;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    margin: 1.5em 0 0 0;

    &::after {
      background-image: url('~@/assets/images/col.png');
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      height: 52px;
      display: inline-flex;
      margin-left: 0.3em;
      width: 52px;
    }
  }
}

@media (min-width: 768px) {
  .slider {
    &__subtitle {
      font-size: 53px;
      line-height: 70px;
      margin: 1em 0 0 0;
    }
  }
}
