@font-face {
  font-display: block;
  font-family: 'icomoon';
  src:  url('~@/assets/fonts/icomoon/icomoon.eot');
  src:  url('~@/assets/fonts/icomoon/icomoon.eot') format('embedded-opentype'),
    url('~@/assets/fonts/icomoon/icomoon.ttf') format('truetype'),
    url('~@/assets/fonts/icomoon/icomoon.woff') format('woff'),
    url('~@/assets/fonts/icomoon/icomoon.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}
